.contactContainer{
    padding-top: 30px;
    padding-bottom: 100px;
}



.deviderSpan{
    width: 50px;
    margin: 0 auto;
    text-align: center;
    top: 20px;
    position: relative;
    height: 1px;
    background-color: #e71425;
    text-indent: -9999px;
  }
  .section-head h2 {
    letter-spacing: 2px;
    position: relative;
    right: 4px;
    font-weight: 600;
    font-size: 32px;
    font-family: 'Rubik', sans-serif;
  }
  .section-head h5 {
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #3b3b3b;
  }
  .deviderSpanLeft{
    right: 172px;
  
  }
  .deviderSpanRight {
    left: 170px;
    top: 19px;
  
  }