mat-spinner {
  margin: auto;
  margin-top: 80px;
}

.errorValidation {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  background: #e71425;
  color: white;
  width: fit-content;
  position: absolute;
  z-index: 1;
  left: 38%;
  top: 45%;
  -webkit-box-shadow: 0px 0px 201px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 201px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 201px 0px rgba(0, 0, 0, 1);
}

.errorValidation h4 {
  color: white;
}

.closeErrorValidation {

  background: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;

}