.closeButton{
    position: relative;
    background: url(../../../assets/images/modal/bgClose.png);
    background-repeat: no-repeat;
    color: white;
    float: right;
    padding: 1rem;
    width: 65px;
    height: 65px;
    text-align: right;
    left: 24px;
    font-weight:bold;
    bottom: 24px;
    cursor: pointer;
    transition: 1s all;
}
hr{
    max-width: 100%;
    border-width: 1px;
    border-color: #d5d5d5d5;
}
.projectTitle{
    text-transform:uppercase;
}