<!-- Header -->
<app-header-admin></app-header-admin>


<div class="mainContainerEvent mb-5">
  <!-- Card Section -->
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-xs-12">
        <div class="addButton mt-5 mb-5">
          <div class="mx-auto buttonWrapper">
            <a routerLink="/admin/Partners/create" class="addNewEventBadge mx-auto"><i class="fas fa-plus pr-4"></i>Add New
              Partner</a>
          </div>
        </div>
      </div>
      <div class="col-xs-12 mb-5">
        <!-- Partner Tab -->
        <div class="AlleventTab">
          <div class="widgetTitleWrapper pb-2">
            <h3 class="widgetTitle pl-5">All Partners
            </h3>

            <h5 class="widgetSubTitle pl-5">Partners in Total</h5>


          </div>
          <app-admin-list-partner></app-admin-list-partner>


        </div>
      </div>

    </div>


  </div>