
   <!-- Header -->
   <app-header-admin></app-header-admin>


   <div class="mainContainerEvent">
      <!-- Card Section -->
      <div class="container-fluid mt-5">
        <div class="row">
       <div class="col-xs-12">
       <!-- Partner Tab -->
       <div class="AlleventTab">
         <div class="widgetTitleWrapper pb-2">
           <h3 class="widgetTitle pl-3">All Partners
   
             <a routerLink="/admin/Partners/create" class="addNewEventBadge"><i class="fas fa-plus"></i> | Add New Partner</a>
   
           </h3>
   
         </div>
         <app-admin-list-partner></app-admin-list-partner>
   
   
       </div>
       </div>
   
     </div>
   
   
   </div>
   