<section id="about">
  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-lg-12 mx-auto mt-4 ">
        <div class="col-lg-12  mb-4">
          <div class="col-lg-12 text-center section-head ">
            <h2 class="mt-5 mb-5">
              Our Team
            </h2>
            <h3 class="deviderSpan deviderSpanLeft">..</h3>
            <h3 class="deviderSpan deviderSpanRight">..</h3>

            <h5> The Talented Crew </h5>

          </div>

        </div>

      </div>
      <div class="col-lg-12 mx-auto mt-3">


        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig"
          (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
          <div ngxSlickItem *ngFor="let teamMember of teamMembers" class="slide">
            <div class="pl-4 pr-4 pt-5 pb-5">

              <img class="slideContainer img-fluid" src="{{ teamMember.imagePath }}" alt="" width="100%">

              <div class="text-center teamName pt-3 ">
                {{ teamMember.title }}
              </div>
              <div class="text-center teamPosition pb-5">
                {{ teamMember.position }}
              </div>


            </div>


          </div>

        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>

<section class="statsSection" id="QuoteSection">
  <div class="curve curve-top"></div>
  <div class="container quoteContainer mb-4">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="row text-white">
          <div class="col-lg-12 aboutUsTitle mb-4 ">
            <h2> About Us</h2>
          </div>
          <br />

          <div *ngFor="let singleText of aboutText" class="col-lg-12 mt-2">
            <p style="color: white">
              {{singleText.text}}
            </p>


          </div>

        </div>


      </div>

    </div>

  </div>

  <div class="curve curve-bottom"></div>


</section>
