
   <!-- Header -->
   <app-header-admin></app-header-admin>

   <div class="mainContainerEvent">
       <!-- Card Section -->
       <div class="container mt-5">
         <div class="row">
             <div class="col-xs-12">
             <!-- About Tab -->
             <div class="AlleventTab">
               <div class="widgetTitleWrapper pb-2">
                 <h3 class="widgetTitle pl-3">All Team Members
         
                   <a routerLink="/admin/About/create" class="addNewEventBadge"><i class="fas fa-plus"></i> | Add New Team Member</a>
         
                 </h3>
         
               </div>
                 <app-admin-list-team-member></app-admin-list-team-member>
         
             </div>
             </div>
         
         
         
           </div>
     </div>

           <!-- Card Section -->
           <div class="container mt-5">
              <div class="row">
                  <div class="col-xs-12">
                  <!-- About Tab -->
                  <div class="AlleventTab">
                    <div class="widgetTitleWrapper pb-2">
                      <h3 class="widgetTitle pl-3">About Section
              
                        <a routerLink="/admin/About/text/create" class="addNewEventBadge"><i class="fas fa-plus"></i> | Add New Text</a>
              
                      </h3>
              
                    </div>
                    <app-admin-list-about-text></app-admin-list-about-text>
                  </div>
                  </div>
              
              
              
                </div>
          </div>
   
   </div>
   <div class="previewWrapper">
    <div class="container ">
        <div class="row ">
            <hr class="adminSeperator"/>

            <div class="col-lg-12 mt-5 text-center">
                <span class="previewContainer mt-5"><i class="fas fa-eye previewIcon mr-2"></i> Preview</span>
            </div>
        </div>
      </div>     
      <app-about></app-about>
    </div>

   



   