<!-- Header -->
<app-header-admin></app-header-admin>

<div class="mainContainerEvent mb-5">

  <!-- Card Section -->
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-xs-12">
        <div class="addButton mt-5 mb-5">
          <div class="buttonWrapper">
            <a routerLink="/admin/About/create" class="addNewEventBadge mx-auto"><i class="fas fa-plus mr-4"></i>Add New
              Text</a>
          </div>
        </div>
      </div>

      <div class="col-xs-12 mb-5">
        <!-- About Tab -->
        <div class="AlleventTab">
          <div class="widgetTitleWrapper pb-2">

            <h3 class="widgetTitle pl-5">About Section
            </h3>
            <h5 class="widgetSubTitle pl-5">About Sections in Total</h5>


          </div>
          <app-admin-list-about-text></app-admin-list-about-text>
        </div>
      </div>



    </div>
  </div>

</div>