<!-- Fixed navbar -->
<app-header-admin></app-header-admin>


<div class="mainContainerEvent mb-5">
  <!-- Card Section -->
  <div class="container-fluid mt-5">

    <div class="row">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div *ngIf="!isLoading" class="col-xs-10 col-xs-offset-1">

        <div class="AlleventTab">


          <div class="widgetTitleWrapper pb-2">
            <h3 class="widgetTitle pl-5">
              <strong *ngIf="mode == 'create'">New Event</strong>
              <strong *ngIf="mode == 'edit'">Edit Event</strong>
            </h3>
            <h5 *ngIf="mode == 'create'" class="widgetSubTitle pl-5">Create a new Event</h5>
            <h5 *ngIf="mode == 'edit'" class="widgetSubTitle pl-5">Edit Event</h5>

          </div>


          <div class="row">

            <div class="col-lg-12 mt-5">
              <form [formGroup]="form " class="form-horizontal" (submit)="onSaveEvent()">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Event Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="title" placeholder="Name">
                    <mat-error *ngIf="form.get('title').invalid && errorFlag">Please enter a Title</mat-error>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Address</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="adress" placeholder="Address">
                    <mat-error *ngIf="form.get('adress').invalid && errorFlag">Please enter a valid adress</mat-error>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Date</label>
                  <div class="col-sm-8">

                    <mat-form-field>
                      <mat-label>Choose a date</mat-label>
                      <input matInput formControlName="date"  [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    
                    <mat-error *ngIf="form.get('date').invalid && errorFlag">Please enter a valid date</mat-error>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Event Image</label>

                  <div class="col-sm-8" formArrayName="image">
                    <div *ngFor="let item of form.controls.image.controls; let i = index">
                      <div class="mt-3" *ngIf="i>0"></div>

                      <input type="text" class="form-control" formControlName="{{i}}" placeholder="imagePath" />
                      <mat-error *ngIf="form.get('image').controls[i].invalid && errorFlag">Please enter a valid image</mat-error>

                    </div>
                  </div>

                </div>

                <div class="form-group">
                  <div class="col-sm-8 col-sm-offset-3">
                    <div class="buttonWrapper">
                      <div class="mx-auto buttonContainer">
                        <div *ngIf="imageInputCounter > 0" (click)="onMinusClick()" class="minusButton ml-2 mr-2">
                          <i class="fas fa-minus"></i>
                        </div>
                        <div (click)="onPlusClick()" class="plusButton  ml-2 mr-2">
                          <i class="fas fa-plus"></i>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Description</label>
                  <div class="col-sm-8">
                    <textarea class="form-control" formControlName="description" rows="3">

                                </textarea>
                    <mat-error *ngIf="form.get('description').invalid && errorFlag">Please enter a valid description
                    </mat-error>
                  </div>
                </div>


                <div class="form-group">
                  <div class="col-sm-12 mt-4">
                    <div class="mx-auto saveButtonWrapper">
                      <button type="submit" class="btn btn-default saveButton mb-5 text-center">Save Event <i
                          class="fas fa-level-down-alt ml-2"></i></button>
                    </div>

                  </div>
                </div>

              </form>

            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>