<!-- Fixed navbar -->
<app-header-admin></app-header-admin>


<div class="mainContainerEvent">
  <!-- Card Section -->
  <div class="container-fluid mt-5">
    <div class="row">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div *ngIf="!isLoading" class="col-xs-10 col-xs-offset-1">
        <div class="AlleventTab">

          <div class="widgetTitleWrapper pb-2">
            <h3 class="widgetTitle pl-5">
              <strong *ngIf="mode == 'create'">New Team Member</strong>
              <strong *ngIf="mode == 'edit'">Edit Team Member</strong>
            </h3>
            <h5 *ngIf="mode == 'create'" class="widgetSubTitle pl-5">Create a new Team Member</h5>
            <h5 *ngIf="mode == 'edit'" class="widgetSubTitle pl-5">Edit Team Member</h5>

          </div>

          <div class="row">

            <div class="col-lg-12 mt-5">
              <form [formGroup]="form " class="form-horizontal" (submit)="onSaveTeamMember()">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Team Member Name</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="title" placeholder="Name">
                    <mat-error *ngIf="form.get('title').invalid && errorFlag">Please enter a Name</mat-error>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Position</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" formControlName="position" placeholder="Position">
                    <mat-error *ngIf="form.get('position').invalid && errorFlag">Please enter a valid position
                    </mat-error>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Team Member Image</label>
                  <div class="col-sm-8">
                    <button type="button" (click)="filePicker.click()" class="btn btn-default uploadButton">Select
                      image</button>
                    <input type="file" style="visibility:hidden" (change)="onImagePicked($event)" #filePicker>
                    <mat-error *ngIf="form.get('image').invalid && errorFlag">Please enter a valid image</mat-error>
                  </div>
                </div>


                <div class="form-group">
                  <div class="col-sm-12 mt-4">
                    <div class="mx-auto saveButtonWrapper">
                      <button type="submit" class="btn btn-default saveButton mb-5 text-center">Save About Text <i
                          class="fas fa-level-down-alt ml-2"></i></button>
                    </div>

                  </div>
                </div>

              </form>

            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>