		<!-- Top Cover -->
		<header >
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
                <div class="slider-container">
                    <div class="intro-text">
                      <div  class="intro-lead-in">
                          <span >
                            Alone, we can do so little
                          </span>
                        <div class="p-3"></div>
                          <span>
                            together, we can do so much
                          </span>
        
                      </div>
                      <div class="topButton findOutButton">
                         Find out more
                        </div>
                    </div>

                  </div>
            </div>
            <div class="col-lg-4 registerNowContainer">
              <div class="registerNowIn">
                  <h3 class="coverWidgetTitle">
                    Join Us
                  </h3>
                  <hr class="normalHr"/>
                  <p class="coverWidgetDesc mb-5">
                    Subscribe to recieve our latest Infos or you can join us and become a Member
                  </p>

                  <form class="mb-5">
                      <div class="form-group">
                        <input type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Email Address">
                      </div>
                     
                  </form>
                  <div class="topButton subButton">
                    Subscribe now
                  </div>
                      <hr class="normalHr mid"/>
                  <div class="topButton memberButton">
                      Become a Member
                    </div>

              </div>
            </div>
            
          </div>
         
        </div>
      </header>
