
   <!-- Header -->
<app-header-admin></app-header-admin>

<div class="mainContainerEvent">
    <!-- Card Section -->
    <div class="container-fluid mt-5">
      <div class="row">
          <div class="col-xs-12">
            <div class="addButton mt-5 mb-5">
              <div class="mx-auto buttonWrapper">
                <a routerLink="/admin/Events/create" class="addNewEventBadge"><i class="fas fa-plus mr-4"></i>Add New Event</a>

              </div>
            </div>
          </div>
          <div class="col-xs-12">
          <!-- Event Tab -->
        
          <div class="AlleventTab">
            <div class="widgetTitleWrapper pb-2">
              <h3 class="widgetTitle pl-5">All Events
              </h3>
              <h5 class="widgetSubTitle pl-5">{{totalEvents}}  Events in Total</h5>
      
            </div>
            <div>
              <app-admin-list-event></app-admin-list-event>

            </div>
      
      
          </div>
          </div>
      
      
      
        </div>
  </div>

</div>
  